<footer class="fixed-bottom bg-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>Contact</h3>
				<p>
					<a <!-- href="mailto:null" --> >Email</a>
				</p>
				<p>
					<a <!-- href="tel:" --> >Phone</a>
				</p>
			</div>
			<div class="col-sm-4">
				<h3>Social</h3>
				<p>
					<a href="#">
						<i class="fa fa-facebook-square fa-2x"></i>
					</a>
					<a href="#">
						<i class="fa fa-twitter-square fa-2x"></i>
					</a>
					<a href="#">
						<i class="fa fa-instagram fa-2x"></i>
					</a>
				</p>
			</div>
			<div class="col-sm-4">
				<h3>About</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
		</div>
	</div>
</footer>
<!-- End of footer.ejs -->
