<html lang="en">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
		<header><%- include('partials/header'); %></header>
		<div style="display: flex">
			<div style="flex-grow: 1" class="container">
				<div class="display-1">404</div>
				<div class="display-2">Whoops!</div>
			</div>
		</div>
	</body>
</html>
