<html lang="en">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
		<header><%- include('partials/header'); %></header>
		<main class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Express Template</h1>
					<hr />
					<h2>About</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Aperiam, doloremque, eaque, eius, fugiat, illum,
						ipsa, itaque, laborum, magni, molestias, nam, natus,
						neque, nihil, officia, quaerat, quas, quisquam, quod,
						reiciendis, reprehenderit, saepe, sunt, tempora,
						voluptas.
					</p>
				</div>
			</div>
		</main>
		<%- include('partials/footer') %>
	</body>
</html>
