<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); %>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
		<script src="/bootstrap/js/bootstrap.bundle.min..js"></script>
	</head>
	<body>
		<header><%- include('partials/header'); %></header>

		<main class="container">
			<h1>Login</h1>
			<% if(validationErrors.length > 0) { %>
			<div class="alert alert-danger">
				<ul>
					<% validationErrors.forEach((error) => { %>
					<li><%= error.msg %></li>
					<% }); %>
				</ul>
			</div>
			<% } %>
			<form action="/login" method="post">
				<div class="form-group mb-2">
					<input
						type="text"
						name="username"
						id="username"
						class="form-control"
						placeholder="Username"
					/>
					<div class="valid-feedback">valid</div>
					<div class="invalid-feedback">invalid</div>
				</div>
				<div class="form-group mb-2">
					<input
						type="password"
						name="password"
						id="password"
						class="form-control"
						placeholder="Password"
					/>
					<div class="invalid-feedback">test</div>
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
		</main>

		<%- include('partials/footer'); %>
	</body>
</html>
